.im {
    text-align: center;
}
.tt {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
.fr{
    background-color: #aca7af;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #a7a7a7 !important;
    border-radius: 5px 5px 0px 0px !important;
    -moz-border-radius: 5px 5px 0px 0px !important;
    -webkit-border-radius: 5px 5px 0px 0px !important;
}