body{
  background: #141a32;
  background: linear-gradient(135deg, #151c36 23%, #181f3a 100%); 
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
}

:root{
  --primary-color: #141a32;
  --secondary-color: #1a213f;
  --tertiary-color: #36437e;
}

.images { 
  padding-top: 0.5rem;
  margin-right: 50rem;
  float: left; 
  width: 175px;
  height: 50px;
}

.imagec{
  float: left; 
  width: 195px;
  height: 225px;
  border-radius: 10px;
  margin-right: 0.5rem;
}

header{
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: #1c2549;
  border-radius: 4px;
  box-shadow: 0.2px 4px 5px #0e1324;
}

.search-bar{
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.search-bar:focus{
  outline: 0;
  background-color: var(--primary-color);
}

.search-bar::placeholder{
  color: #303e74;
}

.search-button{
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  color: #b1bdf5;
  font-family: 'Poppins', sans-serif;
}

.filters{
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.25rem 0.5rem;
  margin: 0.1rem;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  color: #b1bdf5;
  font-family: 'Poppins', sans-serif;
}

.filters:focus{
  outline: 0;
  background-color: var(--primary-color);
}

.movie-box {
  background-color: var(--secondary-color);
  box-shadow: 0.1px 2px 2.5px black;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 2rem;
  font-size: 1rem;
  float: left;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.title {
  font-weight: bold;
  font-size: 22px;
}

.movie-box .details {
  font-size: 18px;
}

.movie-box .details .overview {
  padding-top: 4px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie{
  width: 200px;
  margin: 0.75rem;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  color: #fff;
  position: relative;
  overflow: hidden;
}

.movie img{
  width: 100%;
}

.movie-info{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--tertiary-color);
  padding: 1rem;
  max-height: 100%;
  transform: translateY(120%);
  transition: transform 0.3s ease-in;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: white;
  border-radius: 10px;
}

.movie:hover .movie-info{
  transform: translateY(0);
}

h3{
  margin-top: 0;
}

.points{
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}